/* footer css start */
#foot {
    width: 100%;
    background-color: black;
}

 .redline {
    color: white;
    position: relative;
    margin-bottom: 20px;
}

  .redline::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: rgb(255, 32, 32);
    transition: .5s;
}

 .homenv:hover::after {
    width: 100%;
    color: rgb(255, 32, 32);

}
 .homenv {
    color: rgb(255, 32, 32);

}
 .homenv:hover {
    color: rgb(0, 0, 0);

}
 .about_h4:hover::after {
    width: 50%;

}
 .categ_h4:hover::after {
    width: 61%;

}
 .info_h4:hover::after {
    width: 70%;

}
 .serv_h4:hover::after {
    width: 42%;

}
#foot  p {
    color: white;
}

#foot i {
    color: red;

}
#foot .icon {
    margin-bottom: 8px;
}
#foot .f_text:hover {
    color: red;
}
#foot .f_text {
    color: white;
    margin-left: 7px;
}
#foot li a {
    text-decoration: none;
    color: white;
}
#foot li a:hover {
    color: red;
}
#foot ul li {
    margin-bottom: 10px;
}
#foot input[type="search"] {
    width: 40%;
}
#foot form{
    margin-top: 15px;
}

/* footer css end */